{% extends "layout.html" %} {% block content %} {% for post in posts %}
<div class="p-3">
  <div class="card card-body bg-black">
    <div class="row">
      <div class="col-3">
        <img
          class="img-fluid img-blog"
          src="{{post.image.url}}"
          alt="{{post.title}}"
        />
      </div>
      <div class="col-9">
        <h2>{{post.title}}</h2>
        <p>{{post.date|date:"D d M Y"}}</p>
        <p>{{post.description|striptags|truncatechars:100}}</p>
        <!-- striptags elimina las etiquetas q vengan de la bbdd | safe las reconoce -->
        <a class="btn btn-primary" href="{% url 'blog:post_detail' post.id %}"
          >{{post.title}}</a
        >
      </div>
    </div>
  </div>
</div>

{% endfor %} {% endblock %}
