{% extends "layout.html" %} {% block content %} {% load static %}

<!-- Header -->
<header class="parallax">
  <div class="container">
    <div class="intro-text">
      <!-- <img src="{% static 'portfolio/logo blanco.png' %}" alt="" width="200px" style="margin-top:-110px"> -->
      <div class="intro-lead-in">
        <h2>Eduardo Giorello</h2>
      </div>
      <div class="intro-heading">
        <h1>Desarrollador Web.</h1>
      </div>
      <a href="https://drive.google.com/file/d/1ZqBDSyk5AXewapMWwXBjwT5zTRoFZAjc/view?usp=drive_link" target="_blank"
        class="page-scroll btn btn-xl">Descargar CV</a>
    </div>
  </div>
</header>

<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Habilidades</h2>
        <div class="container">
          <h3 class="section-subheading large">
            Tecnologias en las que desarrollo software.
          </h3>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-8 habilidades-left">
        <ul>
          <li>
            <div class="progress" role="progressbar" aria-valuenow="90"
               aria-valuemax="90">
              <div class="progress-bar " style="width: 90%">Html</div>
            </div>      
         </li>
         <li>
          <div class="progress" role="progressbar" aria-valuenow="80"
             aria-valuemax="80">
            <div class="progress-bar " style="width: 80%">css</div>
          </div>      
       </li>
       <li>
        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="66"
           aria-valuemax="66">
          <div class="progress-bar" style="width: 66%">bootstrap</div>
        </div>      
      </li>
       <li>
        <div class="progress" role="progressbar" aria-valuenow="75"
           aria-valuemax="75">
          <div class="progress-bar" style="width: 75%">javascript</div>
        </div>      
     </li>
     <li>
      <div class="progress" role="progressbar" aria-valuenow="100"
         aria-valuemax="100">
        <div class="progress-bar" style="width: 100%">ajax</div>
      </div>      
   </li>
   <li>
    <div class="progress" role="progressbar" aria-valuenow="91"
       aria-valuemax="91">
      <div class="progress-bar" style="width: 91%">mysql</div>
    </div>      
 </li>
 <li>
  <div class="progress" role="progressbar" aria-valuenow="98"
     aria-valuemax="98">
    <div class="progress-bar" style="width: 98%">php</div>
  </div>      
</li>
<li>
  <div class="progress" role="progressbar" aria-valuenow="50"
     aria-valuemax="50">
    <div class="progress-bar" style="width: 50%">laravel</div>
  </div>      
</li>
<li>
  <div class="progress" role="progressbar" aria-valuenow="52"
     aria-valuemax="52">
    <div class="progress-bar" style="width: 52%">python</div>
  </div>      
</li>
<li>
  <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="45"
     aria-valuemax="45">
    <div class="progress-bar" style="width: 45%">django</div>
  </div>      
</li>
  
      </ul>
    </div>
    <div class="col habilidades-right">
    <div class="container">
      <p class="large">Estas son las skills con las que actualmente me manejo y en las que he adquirido una amplia experiencia. Sin embargo, como profesional en el desarrollo web, entiendo la importancia de mantenerme actualizado y estar al tanto de las últimas tendencias y avances en la industria. Mi compromiso con el aprendizaje continuo me permite mantenerme al día con las últimas prácticas recomendadas en el desarrollo web.</p>

    </div>
    
    </div>
  </div>
  </div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Portfolio</h2>
        <h3 class="section-subheading text-muted">
          Estos son algunos de mis trabajos.
        </h3>
      </div>
    </div>
    <div class="row">
      {% for project in projects %}
      <div class="card col-md-4 col-sm-6 portfolio-item ">
        <a href="#{{ project.id }}" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="{{project.image.url }}" class="img-responsive" alt="{{project.name }}" style="height: 180px;" />
        </a>
        <div class="portfolio-caption">
          <h4>{{ project.title }}</h4>
          <p class="text-muted">{{ project.description }}</p>
        </div>

      </div>

      {% endfor %}

    </div>
</section>

<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">

      <div class="col-lg-6">
        <div class="img-cara"></div>
      </div>
      <div class="col-lg-6 ">
        <h2 class="section-heading jusify-content">Sobre Mi</h2>
       
          <div class="section-subheading text-wrap" style="line-height: 20px; font-size: 1.5rem;">
            ¡Hola a todos! Mi nombre es Eduardo y me apasiona el mundo de la programación. Soy un apasionado Técnico en
            Programación y también trabajo como especialista en servicio de equipos electrónicos.
            Mi trayectoria profesional se ha centrado en el desarrollo de sistemas y páginas web de forma freelance.</div>
            Me encanta afrontar nuevos retos y crear soluciones tecnológicas a medida para satisfacer las necesidades
            específicas de mis clientes.</br>Además de mi experiencia en desarrollo de software, también poseo habilidades
            en reparaciones de equipos electrónicos. Esta combinaciónme permite ofrecer un enfoque integral en el área de la
            tecnología, brindando soluciones tanto a nivel de software como de hardware.</br>Mi formación académica ha sido
            fundamental para mi crecimiento profesional. He obtenido un título en Programación y, a lo largo de mi carrera,
            he asistido a diversos cursos y talleres para mantenerme actualizado con las últimas tendencias y tecnologías.
            Me considero una persona curiosa y creativa, siempre buscando aprender nuevas tecnologías y aplicarlas de manera
            innovadora en mis proyectos.</br> Mi objetivo es ofrecer soluciones eficientes y de calidad que superen las
            expectativas de mis clientes.
            </p>
          </div>
   
    </div>

  </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul class="timeline">
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="{% static 'portfolio/industrial.jpg' %}" alt="" />
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2004</h4>
              <h4 class="subheading">Colegio Industrial</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Curse hasta esta fecha en la Escuela de Educación Secundaria
                Técnica Nro 1 "Mariano Moreno" hasta cambiarme a ...
              </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="{% static 'portfolio/nacional.jpg' %}" alt="" />
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2006</h4>
              <h4 class="subheading">Colegio Nacional</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Me recibi de Bachiller en Arte Diseño y Comunicacion
                en el Colegio Nacional José Hernandez !
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="{% static 'portfolio/cuch.jpg' %}" alt="" />
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2019 - 2021</h4>
              <h4 class="subheading">UNLZ - CUCH</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Despues de varios años retome el estudio y me recibi de Tecnico en Programacion
                en la Universidad de Lomas de Zamora sede CUCH Chivilcoy!
              </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="{% static 'portfolio/cursos.png' %}" alt="" />
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">

              <h4>{% now "Y" %}</h4>
              <h4 class="subheading">Cursos Online</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Desde el termino de cursada sigo actualizandome con cursos
                online, Charlas informativas
                y proyectos propios.
              </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <h4>Se parte <br />de esta <br />Historia!</h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
  </div>
</section>

<!-- Team Section -->
{% comment %} <section id="team" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Our Amazing Team</h2>
        <h3 class="section-subheading text-muted">
          Lorem ipsum dolor sit amet consectetur.
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <img src="http://www.mycatspace.com/wp-content/uploads/2013/08/adopting-a-cat.jpg"
            class="img-responsive img-circle" alt="" />
          <h4>Kay Garland</h4>
          <p class="text-muted">Lead Designer</p>
          <ul class="list-inline social-buttons">
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img src="http://www.mycatspace.com/wp-content/uploads/2013/08/adopting-a-cat.jpg"
            class="img-responsive img-circle" alt="" />
          <h4>Larry Parker</h4>
          <p class="text-muted">Lead Marketer</p>
          <ul class="list-inline social-buttons">
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img src="http://www.mycatspace.com/wp-content/uploads/2013/08/adopting-a-cat.jpg"
            class="img-responsive img-circle" alt="" />
          <h4>Diana Pertersen</h4>
          <p class="text-muted">Lead Developer</p>
          <ul class="list-inline social-buttons">
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="large text-muted">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque,
          laboriosam veritatis, quos non quis ad perspiciatis, totam corporis
          ea, alias ut unde.
        </p>
      </div>
    </div>
  </div>
</section> {% endcomment %}

<!-- Clients Aside -->

<section id="contact" class="parallax">
  <div class="texto">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Contacto</h2>
          <h3 class="section-subheading text-muted contacto-text" style="color:white">
            Contactanos mediante nuestras redes.
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 redes">
          <div class="redes">
            <a target="_blank" href="https://wa.me/+542346521118">
              <i class="fa-brands fa-whatsapp"></i>
              <a target="_blank" href="https://www.facebook.com/eduardo.giorello">
                <i class="fa-brands fa-facebook"></i>
                <a target="_blank" href="https://www.instagram.com/eduardo_giorello/">
                  <i class="fa-brands fa-instagram"></i></a>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}