{% load static %}

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand page-scroll " href="#page-top"> Eduardo Giorello</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden active">
          <a href="#page-top"></a>
        </li>
        <li class="">
          <a class="page-scroll" href="#services">Habilidades</a>
        </li>
        <li class="">
          <a class="page-scroll" href="#portfolio">Portfolio</a>
        </li>
        <li class="">
          <a class="page-scroll" href="#about">Sobre Mi</a>
        </li>
        {% comment %}
        <li class="">
          <a class="page-scroll" href="#team">Team</a>
        </li>
        {% endcomment %}
        <li class="">
          <a class="page-scroll" href="#contact">Contacto</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

{% comment %}
<nav class="navbar navbar-expand-lg bg-black navbar-dark">
  <div class="container">
    <a class="navbar-brand fw-bold fst-italic" href="/">E-G</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <!-- <a class="nav-link" href="{% url 'blog:posts' %}">Blog</a> -->
        <a
          class="nav-link"
          href="{% static 'portfolio/cv.pdf' %}"
          target="_blank"
          >Descargar</a
        >
      </div>
    </div>
  </div>
</nav>
{% endcomment %}
